@mixin pc {
  @media screen and (min-width: (992px)) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: (762px)) {
    @content;
  }
}

@mixin sp {
  @media screen and (min-width: (576px)) {
    @content;
  }
}

body.cool_word {
  header {
    padding: 0 1rem;
    border-bottom: solid .5px #d2d3d7;
  }

  main {
    .index {
      .card-box {
        padding: 1rem;
        border-bottom: 1px solid #d2d3d7;
        @include sp {
          border-bottom: none;
        }

        h4 {
          font-size: 2.5rem;
        }

        a {
          text-decoration: none;
        }
      }
      .pagination {
        margin: 1rem 0;
      }
      table.cool-word-table {
        width: 100%;
        thead {
          color: #333;
          border-bottom: solid 1px;
          border-bottom-color: rgba(33,37,41,0.65);
          tr {
            th {
              padding: .5rem 0;
            }
          }
        }
        tbody {
          tr.cool-word {
            padding: .5rem 0;
            &:not(:last-child) {
              border-bottom: solid 1px;
              border-bottom-color: rgba(33,37,41,0.15);
            }
            th.cool-word-name {
              a {
                color: #3d8bfd;
              }
            }
            .cool-word-tag {
              padding: 0;
              @include pc {
                padding: 0.2rem;
              }
              .tag {
                border: solid 1px #999;
                border-radius: 15px;
                padding: 5px;
                @include pc {
                  padding: 8px;
                }
                font-size: .8rem;
                margin: 0.25rem;
              }
            }
          }
        }
      }
    }
  }
}

